.svg-ico-cards-dims {
	width: 200px;
	height: 160px;
}

.svg-ico-mail-dims {
	width: 383px;
	height: 247px;
}

.svg-ico-re-dims {
	width: 179px;
	height: 181px;
}

.svg-ico-twi-dims {
	width: 512px;
	height: 416px;
}

.svg-ico-vk-dims {
	width: 120px;
	height: 73px;
}

